/* ===== General ===== */
::selection {
  background-color: #8EB0F2;
  color: #22253C; }

::-moz-selection {
  background-color: #8EB0F2;
  color: #22253C; }

body {
  color: #8EB0F2; }

.container-custom, #login-register, #product-item, #add-product, #edit-single-product, #edit-product, #buy-product, #profile, #profile-public, #after-buying, #purchased-item, #purchases {
  text-align: center;
  font-family: 'Oswald', sans-serif; }

.container-h4-custom, #login-register h2, #product-item h2, #add-product h2, #edit-single-product h2, #edit-product h2, #buy-product h2, #profile h2, #profile-public h2, #after-buying h2, #purchased-item h2 {
  background-color: #103e83;
  line-height: 50px; }

.container-img-custom, #login-register img, #product-item .col-md-2 img, #add-product img, #edit-single-product img, #buy-product img, #profile img, #profile-public img {
  display: block;
  margin: 0px auto; }

.container-label-custom, #add-product label, #edit-single-product label, #profile label {
  padding: 5px;
  margin-top: 20px;
  color: #5e5ea5;
  background-color: #add5ce;
  border-radius: 100%; }

.container-textarea-custom, #add-product textarea, #edit-single-product textarea, #profile textarea {
  margin-top: 20px !important;
  height: 150px !important; }

.btn-default-custom, .navbar-form .btn-default, #login-register .btn-default, #add-product .btn-default, #edit-single-product .btn-default, #buy-product .btn-default, #profile .btn-default, #after-buying .btn-default, #purchased-item .btn-default, #purchases .btn-default {
  padding: 12px;
  border-radius: 0px;
  border: none;
  background-color: #e6e6e6; }

.form-control-custom, .navbar-form .form-control, #login-register .form-control, #add-product .form-control, #edit-single-product .form-control, #buy-product .form-control, #profile .form-control {
  height: 50px;
  border-radius: 0px;
  border: 3px solid #22253C;
  color: #22253C;
  font-weight: bold; }

/* ===== End General ===== */
/* ===== Navbar ===== */
.navbar-default {
  font-family: 'Oswald', sans-serif;
  background-color: #22253C;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.75); }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  font-weight: bold;
  color: #8EB0F2;
  height: 100px;
  line-height: 65px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #22253C;
  background-color: #8EB0F2; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #22253C;
  color: #8EB0F2; }

.navbar-nav > li > .dropdown-menu {
  border: 3px solid #22253C; }

.dropdown-menu > li > a {
  text-align: center;
  font-weight: bold;
  color: #22253C; }

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  border: 3px solid #8EB0F2;
  /*margin-left: -60px !important;*/
  margin-right: 50px; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #8EB0F2;
  color: #02062CB3; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #7A99D7;
  color: #22253C; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  line-height: 75px; }

.navbar-form .form-control:focus {
  box-shadow: none; }

.navbar-form .btn-default {
  margin-left: -10px; }

.navbar-form .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Navbar ===== */
/* ===== HOME ===== */
#product {
  text-align: center; }

#product .col-md-4 {
  height: 360px;
  position: relative; }

#product .col-md-4 .element {
  height: 100%;
  width: 100%; }

#product .col-md-4 .element img {
  height: 100%;
  width: 100%; }

#product .col-md-4 .overlay {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  line-height: 380px;
  z-index: 10;
  transition: 0.8s;
  -webkit-transition: 0.8s; }

#product .col-md-4 .overlay .view {
  text-decoration: none;
  font-family: cursive;
  font-size: 50px;
  font-weight: bolder;
  color: #8EB0F2;
  background-color: #22253C;
  border: 3px solid #8EB0F2;
  border-radius: 5px;
  letter-spacing: 3px;
  line-height: 1px;
  display: none;
  position: relative;
  top: 150px;
  padding-bottom: 7px; }

#product .col-md-4 .overlay:hover {
  background-color: rgba(27, 29, 47, 0.95);
  transition: 0.8s;
  -webkit-transition: 0.8s; }

#product .col-md-4 .overlay .product-details {
  display: none; }

#product .col-md-4 .overlay .product-details a {
  position: relative;
  top: 245px;
  font-weight: bold;
  background-color: #1bcb42;
  border: none; }

#product .col-md-4 .overlay:hover .view {
  display: inline; }

#product .col-md-4 .overlay:hover .product-details {
  display: block; }

/* ===== End HOME ===== */
/* ===== Search ===== */
#search {
  text-align: center; }

#search h2 {
  color: #22253C;
  margin-bottom: 30px; }

#search h2 span {
  background-color: #F9FF00B3; }

#search p {
  font-size: 20px; }

#search p a {
  color: #8EB0F2; }

#search p a span {
  background-color: #F9FF00B3; }

/* ===== End Search ===== */
/* ===== Login & Register ===== */
#login-register .form-control {
  margin-top: 10px;
  text-align: center; }

#login-register .form-control:focus {
  box-shadow: none; }

#login-register .btn-default {
  margin-top: 10px; }

#login-register .btn-default:hover {
  background-color: #D2D2D2; }

#login-register .fa {
  font-size: 50px; }

#login-register .fa-facebook-square {
  color: #3b5998; }

#login-register .fa-twitter-square {
  color: #1da1f2; }

#login-register .fa-google {
  color: #ea4335; }

/* ===== End Login & Register ===== */
/* ===== Product ===== */
#product-item {
  background-color: #dddcdc; }

#product-item p {
  color: #19005c;
  font-weight: bold; }

#product-item .col-md-10 {
  margin-top: 20px; }

#product-item .col-md-12 img {
  width: 100%; }

#product-item .col-md-10 img {
  height: 300px;
  margin-left: 10px; }

#product-item .col-md-2 img {
  height: 150px;
  width: 150px; }

#product-item .btn-success {
  font-size: 70px;
  font-weight: bold;
  background-color: #1bcb42;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px; }

/* ===== End Product ===== */
/* ===== Add Product ===== */
#add-product .form-control {
  margin-top: 10px;
  text-align: center; }

#add-product .form-control:focus {
  box-shadow: none; }

#add-product .btn-info {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 0px;
  border: none;
  padding: 12px;
  margin-left: -10px;
  background-color: #5e5ea5; }

#add-product .btn-info:hover {
  background-color: #5E5EA5B3; }

#add-product .btn-default {
  margin-top: 10px; }

#add-product .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Add Product ===== */
/* ===== Edit Single Product ===== */
#edit-single-product .form-control {
  margin-top: 10px;
  text-align: center; }

#edit-single-product .form-control:focus {
  box-shadow: none; }

#edit-single-product .btn-info {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 0px;
  border: none;
  padding: 12px;
  margin-left: -10px;
  background-color: #5e5ea5; }

#edit-single-product .btn-info:hover {
  background-color: #5E5EA5B3; }

#edit-single-product .btn-default {
  margin-top: 10px; }

#edit-single-product .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Edit Single Product ===== */
/* ===== Edit Product ===== */
#edit-product li {
  margin-top: 5px; }

#edit-product a {
  font-size: 20px; }

/* ===== End Edit Product ===== */
/* ===== Buy Product ===== */
#buy-product .form-control {
  margin-top: 10px;
  text-align: center; }

#buy-product .form-control:focus {
  box-shadow: none; }

#buy-product .btn-default {
  margin-top: 10px; }

#buy-product .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Buy Product ===== */
/* ===== Profile ===== */
#profile .account-balance h2 {
  color: #ffffff;
  background-color: #224a6e; }

#profile img {
  height: 180px;
  width: 180px; }

#profile .form-control {
  margin-top: 10px;
  text-align: center; }

#profile .form-control:focus {
  box-shadow: none; }

#profile .btn-default {
  margin-top: 10px; }

#profile .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Profile ===== */
/* ===== Profile Public ===== */
#profile-public {
  font-size: 22px; }

#profile-public p {
  color: #2841ff; }

#profile-public img {
  height: 230px;
  width: 230px; }

/* ===== End Profile Public ===== */
/* ===== After Buying Product ===== */
#after-buying h5 {
  font-weight: bold; }

#after-buying .btn-default {
  margin-top: 10px; }

#after-buying .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End After Buying Product ===== */
/* ===== Purchased Item ===== */
#purchased-item h5 {
  font-weight: bold; }

#purchased-item .btn-default {
  margin-top: 10px; }

#purchased-item .btn-default:hover {
  background-color: #D2D2D2; }

/* ===== End Purchased Item ===== */
/* ===== Purchases ===== */
#purchases tr, #purchases th {
  text-align: center; }

#purchases .btn-default {
  padding: 5px; }

#purchases .btn-default .fa-check-circle {
  position: relative;
  top: 3px; }

#purchases .fa-check-circle {
  color: #33C800;
  font-size: 20px;
  font-weight: bold; }

/* ===== End Purchases ===== */

/*# sourceMappingURL=style.css.map */
